---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "v{{ kubernetes_version }}"
# LB(10.0.2.110:6443)를 클러스터의 공식 대문으로 지정
controlPlaneEndpoint: "{{ k8s_api_vip }}:{{ k8s_api_port }}"

apiServer:
  certSANs:
    - "10.0.2.110"
    - "{{ k8s_api_vip }}"
    - "127.0.0.1"
{% for host in groups['masters'] %}
    - "{{ hostvars[host].ansible_host }}"
{% endfor %}

networking:
  podSubnet: "{{ pod_network_cidr }}"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  # 각 마스터 노드가 자신의 IP를 홍보하도록 설정
  advertiseAddress: "{{ ansible_host }}"
  bindPort: 6443
nodeRegistration:
  criSocket: "unix:///var/run/crio/crio.sock"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
# CRI-O와 일치하도록 systemd 드라이버 사용
cgroupDriver: systemd
failSwapOn: false