---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "v{{ kubernetes_version }}"
controlPlaneEndpoint: "{{ k8s_api_vip }}:{{ k8s_api_port }}"
# API 서버 인증서에 LB 주소와 마스터 주소들을 등록
apiServer:
  certSANs:
    - "{{ k8s_api_vip }}"      # 10.0.1.110 (LB)
    - "127.0.0.1"              # Localhost
    - "10.0.1.10"              # master01
    - "10.0.1.11"              # master02
    - "10.0.1.12"              # master03
networking:
  podSubnet: "{{ pod_network_cidr }}"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  criSocket: "unix:///var/run/crio/crio.sock"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
failSwapOn: false
authentication:
  anonymous:
    enabled: false