[defaults]
# 1. 인벤토리 경로 설정
inventory = ./inventories/production/hosts

# 2. 파이썬 인터프리터 설정
interpreter_python = /usr/bin/python3

# 3. 접속 사용자 설정
remote_user = azureuser

# 4. 보안 및 성능 설정
host_key_checking = False
retry_files_enabled = False
forks = 10
timeout = 30
roles_path = ./roles

# 윈도우 마운트 폴더 또는 권한이 넓은 디렉토리에서 실행 시 에러 방지
config_file_accept_writable_directory = True

[ssh_connection]
# SSH 실행 속도 향상을 위한 파이프라이닝 활성화
pipelining = True
# Bastion 접속 시 SSH 인자 유연성을 위해 추가
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[inventory]
enable_plugins = ini, host_list, script, auto, yaml